body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #161616;
    color: #f1f1f1;
    transition: background 0.3s, color 0.3s;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-row h1 {
    text-align: left;
}

#themeToggle {
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    background: #333;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

#search {
    background: #232323;
    color: #f1f1f1;
    border: 1px solid #444;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px;
    font-size: 1.1em;
    margin-bottom: 1em;
    border-radius: 4px;
    transition: background 0.3s, color 0.3s, border 0.3s;
}

.container {
    background: #232323;
    color: #f1f1f1;
    max-width: 800px;
    margin: 40px auto;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 8px #0001;
}

.exam {
    background: #161616;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px 10px;
    transition: background 0.3s, color 0.3s;
}

#searchCount {
    padding: 0px 10px;
}

.exam-title {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 4px;
}

.exam-lang {
    color: #888;
    font-size: 1.1em;
}

.exam-meta {
    color: #6b6b6b;
    margin-bottom: 4px;
}

.exam-links a {
    margin-right: 12px;
    color: #588dff;
    text-decoration: none;
}

.exam-tags {
    color: #888;
    font-size: 0.9em;
    padding-top: 0.25em;
}

.difficulty,
.codeName,
.formula,
.lang {
    font-weight: 700;
}

.difficulty-easy {
    color: rgb(0, 128, 0);
}

.difficulty-medium {
    color: rgb(255, 192, 0);
}

.difficulty-hard {
    color: rgb(255, 0, 0);
}

body.light {
    background: #f6f6f6;
    color: #181818;
}

body.light .container {
    background: #fff;
    color: #181818;
}

body.light #search {
    background: #fff;
    color: #181818;
    border: 1px solid #bbb;
}

body.light #themeToggle {
    background: #e0e0e0;
    color: #222;
}

body.light .exam {
    background: #f4f4f4;
    color: #181818;
}

body.light .exam-meta {
    color: #555;
}

body.light .exam-lang,
body.light .exam-tags {
    color: #888;
}

body.light .exam-links a {
    color: #588dff;
}

body.light #searchCount {
    color: #222;
}